@tailwind base;
@tailwind components;
@tailwind utilities;

:where(:not(.radix-themes)) *,
:where(:not(.radix-themes)) *::before,
:where(:not(.radix-themes)) *::after {
  box-sizing: border-box;
}

:where(.radix-themes) {
  font-family: var(--default-font-family);
}

:where(.radix-themes) *,
:where(.radix-themes) *::before,
:where(.radix-themes) *::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  color-scheme: light dark;
  background-color: rgb(15 17 23);
  color: rgb(226 232 240);
}
